#titulo-inicio{
  text-transform: uppercase;
}

.rate{
  color: #FF9529;
}

.profile-img{
  border: none;
  border-radius: 50%;
  width: 30%;
}

main{
  padding-bottom: 10px;
}

.card
{
  border-radius:5%;
}
