*{
  
}
main{
  padding:3%;
}

#titulo-inicio{
  text-transform: uppercase;
}

.google-rate{
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 1.5%;
  vertical-align: middle;
}

.rate{
  color: #FF9529;
}

.profile-img{
  border: none;
  border-radius: 50%;
  width: 30%;
}

.review
{
  border-radius:5%;
  margin: 1%;

}

.container{
  max-width: 100%;
  width: 100%;
}

section{
  margin: 15px;
}
